.main {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: inherit;
  font-family: inherit;
  margin: 0.5em 0;
  padding: 0.25em 0.5em;
}

.editor {
  font-size: 0.9em;
  font-family: inherit;
  padding: 0.5em;
  height: 15em;
  min-height: 15em;
  resize: vertical;
}
