.clock {
  container-type: size;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock span {
  font-size: min(calc(100cqw / 5 / 0.6), calc(100cqh / 1.2));
}

.controls {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.controls div {
  flex: 1;
  display: flex;
}

.controls div:first-child {
  justify-content: end;
}

.activity {
  height: 1em;
  font-size: 2em;
  margin-bottom: 0.5em;
}

.main {
  container-type: size;
  height: 100%;
  max-height: 25em;
  display: flex;
  flex-direction: column;
}

.btnControl {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 0.4em 1em 0.4em 0.75em;
}

.btnControl svg {
  height: 1.4em;
  width: 1.4em;
  margin-right: 0.5em;
}
