.menu button {
  display: flex;
  margin: 1.5em auto;
  flex-direction: row;
  align-items: center;
  padding: 0.4em 1em 0.4em 0.75em;
}

.menu button svg {
  height: 1.4em;
  width: 1.4em;
  margin-right: 0.5em;
}

.footer {
  font-size: 0.9em;
  color: #ccc;
  text-align: center;
  margin-top: 2.5em;
}

.footer p {
  margin-bottom: 0;
}

.footer svg {
  height: 1.4em;
  width: 1.4em;
  margin-right: 0.5em;
}

.githubLink {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
