.container {
  position: relative;
}

.menubar {
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
  margin: 0 -0.5em;
  min-height: 1em;
  background-color: rgba(50 50 50 / 0.5);
  border: 1px solid #666;
  border-radius: 5px;
}

.title {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.program {
  padding: 0.5em 0;
  display: flex;
  font-size: 0.8em;
  color: #ccc;
}

.programTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.strong {
  background-color: unset;
  font-size: 1em;
}

.status {
  font-style: italic;
}
