html {
  background-color: black;
  font-family: "Cascadia Mono", monospace;
  font-variant-numeric: slashed-zero;
  font-weight: 350;
  color: #fff;
  font-size: 18px;
  margin: 0;
  padding: 0;
  scrollbar-gutter: stable;
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

button {
  text-transform: uppercase;
  font-size: 0.8em;
}

button,
textarea,
input,
select {
  cursor: pointer;
  font-family: inherit;
}

button:disabled,
textarea:disabled,
input:disabled,
select:disabled {
  cursor: not-allowed;
}

textarea,
textarea:disabled,
input {
  background-color: rgba(255 255 255 / 0.15);
  border: 1px solid #acacac;
  border-radius: 5px;
  color: inherit;
}

select {
  padding: 0.25em;
}

body {
  margin: 0;
  padding: 0;
  height: 100svh;
}

:global(#app) {
  height: 100svh;
  box-sizing: border-box;
  padding: 0.5em;
}

@media (max-height: 500px) {
  :global(#app) {
    padding-top: 0;
  }
}

a,
a:visited,
a:active {
  color: #9595fb;
  text-decoration: none;
}

a:hover {
  color: #dbc3ff;
  text-decoration: underline;
}

.main {
  margin: 0 auto;
  padding-bottom: 0.5em;
  box-sizing: border-box;
  max-width: 700px;
}
