html {
  background-color: black;
  color: #fff;
  font-family: monospace;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  font-family: inherit;
}

button:disabled,
textarea:disabled,
input:disabled {
  cursor: not-allowed;
}

body {
  margin: 0;
  padding: 0;
  height: 100dvh;
}

:global(#app) {
  height: 100dvh;
  padding: 2dvh 0.5em 0.5em 0.5em;
  box-sizing: border-box;
}

a,
a:visited,
a:active {
  color: #9595fb;
  text-decoration: none;
}

a:hover {
  color: #dbc3ff;
  text-decoration: underline;
}

.main {
  margin: 0 auto;
  max-width: 600px;
}
