html {
  background-color: black;
  color: #fff;
  font-family: monospace;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  font-family: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  margin: 0 auto;
  max-width: 600px;
}

.menubar {
  display: flex;
  gap: 0.5em;
  padding: 0.5em;
  background-color: #333;
}

.menu {
  text-align: center;
}

.program {
  background-color: #222;
  padding: 0.5em;
  display: flex;
  font-size: 0.75em;
  color: #ccc;
}

.strong {
  background-color: unset;
  font-size: 1em;
}
